<app-menu></app-menu>
<div class="container">

    <form class="content" (ngSubmit)="insertado()">


    <div class="submit-form" >
  
         <div class="row">
            <div class="col-lg-12">
                <h6>Generar Boleta</h6>
            </div>
        </div>
  
        <div class="row" style="margin-top: 2%">
            <div class="col-lg-3">
                <label for="departamento">Servicio</label>
                <select  id="departamento" name="departamento" class="form-control"  [(ngModel)]="boleta.servicio!.idServicio">
                    <option value="-1"> [Seleccione] </option>   
                    <option *ngFor="let aux of servicio" value="{{aux.idServicio}}">
                        {{aux.descripcion}}
                    </option>
                </select>
            </div>
                
            <div class="col-lg-3">
                <label for="departamento">Departamento</label>
                <select  id="departamento" name="departamento" class="form-control"  [(ngModel)]="boleta.departamento!.codDepartamento">
                    <option value="-1"> [Seleccione] </option>   
                    <option *ngFor="let aux of departamento" value="{{aux.codDepartamento}}">
                        {{aux.descripcion}}
                    </option>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="departamento">Año</label>
                <select  id="departamento" name="departamento" class="form-control"  [(ngModel)]="boleta.anio">
                    <option value="-1"> [Seleccione] </option>   
                    <option value="2021">
                       2021
                    </option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option>
                     <option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option>
                     <option value="2029">2029</option><option value="2030">2030</option>

                     
                </select>
            </div>
            <div class="row" style="margin-top: 3%"> 
                <div class="col-lg-12">
                    <button class="btn btn-success"  >Generar</button>
                </div>
        </div>


        </div>
    </div>
  
</form>

         <div class="row" style="margin-top: 3%">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Boleta</th>
                            <th>Propietario</th>
                            <th>Mes</th>
                            <th>FechaPago</th>
                            <th>Servicio</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr   *ngFor = "let aux of listaboleta">
                                 <td>{{ aux.codBoleta }}</td>   
                                 <td>{{ aux.departamento!.descripcion }}</td> 
                                 <td>{{ aux.mes }}</td>
                                 <td>{{ aux.fechaPago }}</td>   
                                 <td>{{ aux.servicio!.descripcion }}</td>
                                 
                            </tr>

                    </tbody>
                       

                </table>


         </div>
        

    
   
  
  
    </div>

