
<div>

    <form  class="content" (ngSubmit)="insertado()">
    <div class="submit-form" >
  
         <div class="row">
            <div class="col-lg-12">
                <h6>Registro de Departamento </h6>
            </div>
        </div>
  
        <div class="row" style="margin-top: 3%">
                <div class="col-lg-6">
                    <label for="codDepartamento">Código de Departamento</label>
                    <input type="text" class="form-control" name="codDepartamento" id="codDepartamento" [(ngModel)]="departamento.codDepartamento"  />
                </div>
            
                <div class="col-lg-3">
                    <label for="descripcion">Descripcion de Departamento</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion" maxlength="2" [(ngModel)]="departamento.descripcion" />
                </div>

                <div class="col-lg-3">
                        <label for="numHabitaciones">Número de habitantes</label>
                        <input type="text" class="form-control" name="numHabitaciones" id="numHabitaciones" maxlength="2"  [(ngModel)]="departamento.numHabitaciones"  />
                </div>
         </div>
  
  
        <div class="row" style="margin-top: 3%"> 
                <div class="col-lg-12">
                    <button class="btn btn-success"  >Enviar</button>
                </div>
        </div>
  
    
      </div>
  
     </form>
  
  
    </div>
    