<nav class="navbar navbar-expand-lg mb-4">
    <a class="navbar-brand" href="#">Cibertec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        
        <li class="nav-item " *ngIf="!isLogged">
          <a class="nav-link"  routerLink="login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
      </li>
      


        <li class="nav-item" *ngIf="isLogged">
          <a routerLink="/addDepartamento" class="nav-link">Departamento</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">

          <a routerLink="/addHabitante" class="nav-link">Habitante</a>
        </li>

        <li class="nav-item" *ngIf="isLogged">
          <a routerLink="/addMascota" class="nav-link">Mascota</a>
        </li>
        
        <li class="nav-item" *ngIf="isLogged">
          
          <div class="dropdown" >
            <button class="dropbtn">Visitante</button>
            <div class="dropdown-content">
              <a class="dropdown-item" routerLink="/addVisitante" >Registrar visita</a>
              <a class="dropdown-item" routerLink="/addVisita" >Consulta visitante</a></div>
            </div>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          
          <div class="dropdown" >
            <button class="dropbtn">Boleta</button>
            <div class="dropdown-content">
              <a class="dropdown-item" routerLink="/addGeneraBoleta" >Genera boleta</a>
              <a class="dropdown-item" routerLink="/addPagoBoleta" >Pago Boleta</a></div>
            </div>
        </li>
        
        
        <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
          <a  class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open" ></i> Cerrar Sesión</a>
      </li>



       
      </ul>

     


    </div>
  </nav>
