<app-menu></app-menu>  

<div class="container">

    <form class="content">
    <div class="submit-form" >
  
         <div class="row">
            <div class="col-lg-12">
                <h6>Registro de Visita </h6>
            </div>
        </div>
     
        <div class="row" style="margin-top: 3%">
            <label for="nombre">DNI </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-lg-4">
                    
                    <input size="10" type="text" class="form-control" name="dni" id="dni" [(ngModel)]= "dni"  />
                </div>
                
                <div class="col-lg-1">
                    <button type="button"  class="btn btn-info" (click)="consultaVisitanteDni()" >Buscar</button>
                   
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-secondary"  ><a href="#miModal">...</a></button>
                   
                </div>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label for="telefono">Visitante</label>   
                <div class="col-lg-4">
                       
                        <input type="text" class="form-control" name="telefono" id="telefono"   value="{{visita.visitante!.nombre}} {{visita.visitante!.apellido}}"  disabled/>
                </div>
                
                <label for="telefono">Visita a </label>   
                <div class="col-lg-4">
                       
                    <select  id="departamento" name="departamento" class="form-control" [(ngModel)]="visita.departamento!.codDepartamento">
                        <option value="-1"> [Seleccione] </option>   
                        <option *ngFor="let aux of departamento" value="{{aux.codDepartamento}}">
                            {{aux.descripcion}}
                        </option>
                    </select>
                </div>
         </div>
  
        <div class="row" style="margin-top: 3%">
        <div class="col-lg-3">
            <label for="parentesco">Hora de Ingreso</label>
           
            <input type="hidden"  class="form-control" id="FechaInfreso"  value="{{today | date:'dd-MM-yyyy hh:mm:ss a'}}"  [(ngModel)]="visita.fechaEntrada" disabled/>
            <input type="text"  class="form-control" id="dateIngreso"  name="parentesco" value=" {{ this.time$ | async }}"   disabled/>
        </div>
    

            <div class="col-lg-3">
                <label for="departamento">Hora de Salida</label>
                <input type="text"  class="form-control" id="parentesco"  name="parentesco"  [(ngModel)]="visita.fechaSalida" />
            </div>
        </div>
  
        <div class="row" style="margin-top: 3%"> 
                <div class="col-lg-12">
                    <button class="btn btn-success"  >Enviar</button>
                </div>
        </div>
  
    
      </div>
  
     </form>
      
  
    </div>