<div>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cibertec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a routerLink="addAlumno" class="nav-link">Alumno</a>
        </li>
        
        <li class="nav-item">
          <a routerLink="addModalidad" class="nav-link">Modalidad</a>
        </li>

        <li class="nav-item">
          <a routerLink="addDocente" class="nav-link">Docente</a>
        </li>

      </ul>
    </div>
  </nav>


  

<div class="container mt-3">


      <router-outlet></router-outlet>

 
</div>

</div>